extends layout

block content
  script.
   var app = angular.module('app', []);
   
   var canUpdatePage = true;
   socket.on('webpage', function(msg){
    if(!canUpdatePage)return;
    document.getElementById('contents').innerHTML = msg;
    console.log(msg);
   });
   
   function emitMessage(channel, message){
    console.log('Sent: ' + message + ' to: ' + channel);
    socket.emit(channel, message);
   }
   
   app.controller('Controller', function($scope) {
    window.scope = $scope;
   });
   
  h1 Welcome to CryptoBot
  hr
  div(id='contents')
  br
  br
  hr
  p Thomas Sullivan &copy;2018